.newsletter{
  height: 60vh;
  background-color: #fcf5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    h1{
  font-size: 70px;
  margin-bottom: 20px;
  @media only screen and (max-width:380px) {
   font-size: 50px;
 }
    }
    .desc{
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
  @media only screen and (max-width:380px) {
    text-align: center;
    font-size: 22px;
 }
    }
    .inputcontainer{
                width: 50%;
                height: 40px;
                background-color: white;
                display: flex;
                justify-content: space-between;
                border: 1px solid lightgray;
                @media only screen and (max-width:380px) {
                  width: 80%;
               }
        input{
            border: none;
            flex: 8;
            padding-left: 20px;
          outline: none;
          
        }
        button{
            border: none;
            background-color: teal;
            color: white;
          display: flex;
          align-items: center;
          justify-content: center;
            
         flex: 1;
         span{
            font-size: 30px;
           
         }
        }
    }
}