.productlist{
  @media only screen and (max-width:380px) {
    margin-top: 8vh;
  }
    h1{
        margin:20px;
        @media only screen and (max-width:380px) {
         text-align: center;
        color: white;
        background-color: teal;
        margin:10px 0;
        }
       
    }
.fliterContainer{
    display:flex;
justify-content:space-between;
.filterlist{
    margin:20px;
 
    @media only screen and (max-width:380px) {
       margin: 0px 20px;
       display: flex;
       flex-direction: column;
     }
    span{
        font-size:20px;
        font-weight:600;
         margin-right: 20px;
         display: inline-block;
         @media only screen and (max-width:380px) {
           margin-right: 0px;
          
         }
    }
    select{
        padding:10px;
        margin-left:20px;
        background:transparent;
       border:1px solid black;
       @media only screen and (max-width:380px) {
       margin: 10px 0px;
     }

       option{
        font-weight:600
       }
    }
}
.side{
    margin:20px;
    @media only screen and (max-width:380px) {
        margin: 0px 20px;
        display: flex;
        flex-direction: column;
      }

    span{
        font-size:20px;
        font-weight:600;
       margin-right: 20px;
    }
    select{
        padding:10px;
        margin-right:20px;
        background:transparent;
       border:1px solid black;
       @media only screen and (max-width:380px) {
        margin: 10px 0px;
      }
       
       option{
        font-weight:600
       }
    }
   
}
}
    
}