.cart {
  .wrapper {
    padding: 20px;
    @media only screen and (max-width:380px) {
      padding: 10px;
     }
    h1 {
      font-weight: 300;
      text-align: center;
    }
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
    
    span{
      @media only screen and (max-width:380px) {
     display: none;
       }
    }
      button {
        padding: 10px;
        font-weight: 600;
        cursor: pointer;

        &:first-child {
          background-color: transparent;
          border: 2px solid black;
        }
        &:last-child {
          border: none;
          background-color: black;
          color: white;
        }
      }
      .text {
        span {
          text-decoration: underline;
          cursor: pointer;
          margin: 0px 10px;
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      @media only screen and (max-width:380px) {
       flex-direction: column;
       }
      
      .info {
        flex: 3;
       

        hr{
           background-color: #eee; 
           border: none;
           height: 1px;
        }
        .product2 {
          display: flex;

          justify-content: space-between;
          @media only screen and (max-width:380px) {
           flex-direction: column;
           }
          .productDetail {
            flex: 2;
            display: flex;
            img {
              width: 200px;
            }

            .detail {
              padding: 20px;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              .div1 {

                width: 20px;
                height: 20px;
                border-radius: 50%;
                background:linear-gradient(brown,black);
              }
              .div2{
                
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background:rgb(48, 48, 153);
              }
            }
          }
          .priceDetail {
            flex: 1;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            @media only screen and (max-width:380px) {
             display: flex;
             flex-direction:row ;
             align-items: center;
             justify-content: space-around;
             margin-bottom: 20px;
             }

            .Productamount{
                  display: flex;
                      align-items: center; 
                      margin-bottom: 20px; 
                      @media only screen and (max-width:380px) {
                        margin-bottom: 0;
                     
                       }


                      .fa-solid{
                        cursor: pointer;
                        @media only screen and (max-width:380px) {
                        background-color: teal;
                        padding: 10px;
                        color: white;
                         }
                       
                      }

                span{
                    font-size: 24px;
                    margin: 5px;
                    font-weight: 500;
                    @media only screen and (max-width:380px) {
                     margin: 5px 15px;
                     }
                }
            }
            span{
                font-size: 30px;
                font-weight: 300;
                @media only screen and (max-width:380px) {
                 margin: 0;
                 }
               
            }
          }
        }
      }
      .summary {
        flex: 1;
        border: 0.5px solid lightgray;
        padding: 20px;
        height: 50vh ;
        h1{

        font-weight: 200;

        }
        .summaryItem{
 margin: 30px 0px;
 display: flex;
 justify-content: space-between;
            span{

            }
            .total{
   font-weight: 500;
   font-size: 24px;
            }
        }
        button{
             width: 100%;
             padding: 10px;
             background-color: black;
             color: white;
             cursor: pointer;
             border: none;
             font-weight: 600;
        }
      }
    }
  }
}
